[Unit]
Description=Sonatype Nexus Service
Documentation=http://www.sonatype.com/nexus-repository-sonatype/
After=network.target

[Service]
Type=forking
ExecStart=/opt/nexus/bin/nexus start
ExecStop=/opt/nexus/bin/nexus stop
User=doadmin

[Install]
WantedBy=multi-user.target

